<article class="{{ boxThumbnail.style }} box-thumbnail">
	<span class="image box-thumbnail__image-wrapper">
		<img class="box-thumbnail__image" src="{{ boxThumbnail.img }}" alt="{{boxThumbnail.alt}}" />
	</span>
  {% if boxThumbnail.link %}
	  <a class="box-thumbnail__link" href="{{ boxThumbnail.link }}">
  {% endif %}
		{% if boxThumbnail.title %}
			<h2 class="box-thumbnail__title">{{ boxThumbnail.title }}</h2>
		{% endif %}
			<div class="box-thumbnail__content content">
				<p>{{ boxThumbnail.content }}</p>
			</div>
  {% if boxLink %}
    </a>
  {% endif %}
</article>
