<article class="{{ boxStyle }}">
	<span class="image">
		<img src="{{ boxImg }}" alt="{{boxAlt}}" />
	</span>
  {% if boxLink %}
	  <a href="{{ boxLink }}">
  {% endif %}
		{% if boxTitle %}<h2>{{ boxTitle }}</h2>{% endif %}
			<div class="content">
				<p>{{ boxContent }}</p>
			</div>
  {% if boxLink %}
    </a>
  {% endif %}
</article>
