<article class="{{ style }}">
	<span class="image">
		<img src="{{ img }}" alt="" />
	</span>
  {% if link %}
	  <a href="{{ link }}">
  {% endif %}
		{% if title %}<h2>{{ title }}</h2>{% endif %}
			<div class="content">
				<p>{{ content }}</p>
			</div>
  {% if link %}
    </a>
  {% endif %}

</article>
